<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nautobot Ecosystem Status - Live Badges</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
        .nav-link {
            color: var(--bs-secondary-color);
        }

        .nav-link:hover {
            color: var(--bs-nav-tabs-link-active-color);
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-md bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <i class="bi bi-activity text-danger"></i>
                Nautobot Ecosystem Health
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav me-auto">
                    <a class="nav-link" href="index.html">
                        <i class="bi bi-clock-history text-warning"></i>
                        Status
                    </a>
                    <a class="nav-link active" href="badges-nautobot.html">
                        <i class="bi bi-lightning-fill text-success"></i>
                        Nautobot Badges
                    </a>
                    <a class="nav-link" href="badges-ntc.html">
                        <i class="bi bi-lightning-fill text-success"></i>
                        NTC Badges
                    </a>
                    <a class="nav-link" href="upstream.html">
                        <i class="bi bi-arrow-repeat text-primary"></i>
                        Upstream Testing
                    </a>
                </div>
                <span class="navbar-text">
                    <a class="nav-link" href="https://github.com/cmsirbu/nautobot-ecosystem-health"><i
                            class="bi bi-github"></i></a>
                </span>
            </div>
        </div>
    </nav>

    <div class="container">
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th>App Name <i class="bi bi-github"></i></th>
                    {# <th>Upstream Testing <i class="bi bi-github"></i></th> #}
                    <th>PyPI Version</th>
                    <th>Commits Since</th>
                    <th>Release Date</th>
                    <th>Docs/develop</th>
                    <th>Docs/main</th>
                    <th>Docs/ltm-1.6</th>
                </tr>
            </thead>
            <tbody class="table-striped table-group-divider">
                {% for p in pages['badges.nautobot'] %}
                {% set meta = metadata[p] %}
                <tr>
                    <td><a href="https://github.com/{{ meta['org'] }}/{{ meta['repo'] }}"
                            class="link-body-emphasis link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">{{
                            meta['name'] }}</a></td>
                    {# <td>
                        <a
                            href="https://github.com/{{ meta['org'] }}/{{ meta['repo'] }}/actions/workflows/upstream_testing.yml">
                            <img
                                src="https://github.com/{{ meta['org'] }}/{{ meta['repo'] }}/actions/workflows/upstream_testing.yml/badge.svg">
                        </a>
                    </td> #}
                    <td><img src="https://img.shields.io/pypi/v/{{ meta['pypi'] }}">
                        {# this could be a test if the GH release exists on pypi #}
                    </td>
                    <td><img
                            src="https://img.shields.io/github/commits-since/{{ meta['org'] }}/{{ meta['repo'] }}/latest/develop">
                    </td>
                    <td><img
                            src="https://img.shields.io/github/release-date/{{ meta['org'] }}/{{ meta['repo'] }}?display_date=published_at">
                    </td>
                    <td>
                        <a href="https://readthedocs.com/projects/{{ meta['rtd'] }}/builds/"><img
                                src="https://readthedocs.com/projects/{{ meta['rtd'] }}/badge/?version=latest"></a>
                    </td>
                    <td>
                        <a href="https://readthedocs.com/projects/{{ meta['rtd'] }}/builds/"><img
                                src="https://readthedocs.com/projects/{{ meta['rtd'] }}/badge/?version=stable"></a>
                    </td>
                    <td>
                        <a href="https://readthedocs.com/projects/{{ meta['rtd'] }}/builds/"><img
                                src="https://readthedocs.com/projects/{{ meta['rtd'] }}/badge/?version=ltm-1.6"></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container">
        <footer class="py-3 my-4">
            <p class="text-center text-body-secondary border-top pt-3 mt-3">Badges updated on page load.</p>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>
