<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nautobot Upstream Testing</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
        .nav-link {
            color: var(--bs-secondary-color);
        }

        .nav-link:hover {
            color: var(--bs-nav-tabs-link-active-color);
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-md bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <i class="bi bi-activity text-danger"></i>
                Nautobot Ecosystem Health
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav me-auto">
                    <a class="nav-link" aria-current="page" href="index.html">
                        <i class="bi bi-clock-history text-warning"></i>
                        Status
                    </a>
                    <a class="nav-link" href="badges-nautobot.html">
                        <i class="bi bi-lightning-fill text-success"></i>
                        Nautobot Badges
                    </a>
                    <a class="nav-link" href="badges-ntc.html">
                        <i class="bi bi-lightning-fill text-success"></i>
                        NTC Badges
                    </a>
                    <a class="nav-link active" href="upstream.html">
                        <i class="bi bi-arrow-repeat text-primary"></i>
                        Upstream Testing
                    </a>
                </div>
                <span class="navbar-text">
                    <a class="nav-link" href="https://github.com/cmsirbu/nautobot-ecosystem-health"><i class="bi bi-github"></i></a>
                </span>
            </div>
        </div>
    </nav>

    <div class="container">
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th>App Name <i class="bi bi-github"></i></th>
                    <th>develop</i></th>
                    <th>next</i></th>
                    <th><i class="bi bi-clock-history"></i></th>
                    <th>Workflow Run History (Last 30, Latest/Left to Oldest/Right)</th>
                </tr>
            </thead>
            <tbody class="table-striped table-group-divider">
                {# {% for p in projects['nautobot'] if upstream[p['repo']]['runs'] %} #}
                {% for p in pages['upstream'] %}
                {% set meta = metadata[p] %}
                {% set latest_run = upstream[meta['repo']]['runs'][0] %}
                {% set latest_run_jobs = upstream[meta['repo']]['latest_run_jobs'] %}
                <tr>
                    <td><a href="https://github.com/{{ meta['org'] }}/{{ meta['repo'] }}"
                            class="link-body-emphasis link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover">{{
                            meta['name'] }}</a></td>
                    <td>
                        {% for job in latest_run_jobs if 'develop' in job['name'] %}
                        <a href="{{ job['html_url'] }}" data-bs-toggle="tooltip" data-bs-title="{{ job['name'] }}"
                            class="link-underline-opacity-0 {{ 'link-success' if job['conclusion']=='success' else 'link-danger' }}">
                            <i class="bi {{ 'bi-check-square-fill' if job['conclusion']=='success' else 'bi-x-square' }}"></i>
                        </a>
                        {% endfor%}
                    </td>
                    <td>
                        {% for job in latest_run_jobs if 'next' in job['name'] %}
                        <a href="{{ job['html_url'] }}" data-bs-toggle="tooltip" data-bs-title="{{ job['name'] }}"
                            class="link-underline-opacity-0 {{ 'link-success' if job['conclusion']=='success' else 'link-danger' }}">
                            <i class="bi {{ 'bi-check-square-fill' if job['conclusion']=='success' else 'bi-x-square' }}"></i>
                        </a>
                        {% endfor%}
                    </td>
                    <td class="font-monospace {{ latest_run['updated_at_color'] if latest_run['updated_at_color'] }}">
                        {{ latest_run['updated_at'] | replace('T', ' ') | replace('Z', ' UTC') }}
                    </td>
                    <td>
                        {% for run in upstream[meta['repo']]['runs'] %}
                        <a href="{{ run['html_url'] }}" data-bs-toggle="tooltip" data-bs-title="{{ run['updated_at'] }}"
                            class="link-underline-opacity-0 {{ 'link-success' if run['conclusion']=='success' else 'link-danger' }}">
                            <i class="bi {{ 'bi-check-circle-fill' if run['conclusion']=='success' else 'bi-x-circle' }}"></i>
                        </a>
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>Note: Upstream testing is only a measure of how changes in <i>development</i> branches of Nautobot Core affect various Apps! It is <b>not</b> a measure of individual App health.</p>
    </div>
    <div class="container">
        <footer class="py-3 my-4">
            <p class="text-center text-body-secondary border-top pt-3 mt-3">Last updated: {{ build_timestamp }}</p>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
</body>

</html>
